'atom-text-editor:not([mini])':
  'ctrl-enter'  : 'hydrogen:run'
  'shift-enter' : 'hydrogen:run-and-move-down'
  'f5'          : 'hydrogen:run-all'
  'alt-f5'      : 'hydrogen-run:recalculate-all'
  'shift-f5'    : 'hydrogen:run-all-above'
  'ctrl-f5'     : 'hydrogen-run:recalculate-all-above'
  'f6'          : 'hydrogen-run:run-all-inline'
  'alt-f6'      : 'hydrogen-run:recalculate-all-inline'
  'shift-f6'    : 'hydrogen-run:run-all-above-inline'
  'ctrl-f6'     : 'hydrogen-run:recalculate-all-above-inline'
  'f7'          : 'hydrogen:run'
  'ctrl-f7'     : 'hydrogen:run-cell'
  'alt-f7'      : 'hydrogen:clear-results'
  'shift-f7'    : 'hydrogen:interrupt-kernel'
  'f8'          : 'hydrogen:run-and-move-down'
  'ctrl-f8'     : 'hydrogen:run-cell-and-move-down'
  'alt-f8'      : 'hydrogen-run:clear-and-restart'
  'shift-f8'    : 'hydrogen:shutdown-kernel'
  'f9'          : 'hydrogen:toggle-inspector'
